#info-container {
    background-color: #4A508B;
    padding-top: 60px;
    padding-bottom: 60px;
}
#profile-pic{
  height: 200px !important;
  width: auto !important;
}

p,h2{
    color: white;
}
h2{
    font-weight: 500;
    text-transform: uppercase;
}

#info-container hr{
    margin-right: 40%;
}
